<!DOCTYPE html>
<html>
    <head>
        <title>Welcome about page</title>
    </head>
    <body>
        <h1>Welcome to our app! About page</h1>
        <%= link_to 'Home', root_path %>
        <br>
        <%= image_tag 'spl6.jpg' %>
        </body>
    </html>