<!DOCTYPE html>
<html>
    <head>
        <title>Welcome home page</title>
    </head>
    <body>
        <h1>Welcome to our app! Home page</h1>
        <%= image_tag 'spl3.jpg' %>
        <%= link_to 'About', about_path %>
        </body>
    </html>